FAKE NEWS DETECTION PROBLEM

In [1]:
#Importing the libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import re
import string

In [2]:
#Importing the dataset
df_fake = pd.read_csv("C:\\Users\\user\\Desktop\\Fake news detection\\Fake.csv")
df_true = pd.read_csv("C:\\Users\\user\\Desktop\\Fake news detection\\True.csv")

In [3]:
df_fake.head(10)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017"
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017"
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017"
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017"
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017"

In [4]:
df_true.head(10)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [5]:
df_fake["class"] = 0
df_true["class"] =1

In [6]:
#Shape of the dataset
df_fake.shape , df_true.shape

((23481, 5), (21417, 5))

In [7]:
#droping rows for manual testing of the dataset
df_fake_test = df_fake.tail(10)
for i in range(23480 , 23470,-1):
    df_fake.drop([i], axis = 0, inplace=True)
df_true_test = df_true.tail(10)
for i in range(21416 , 21406,-1):
    df_true.drop([i], axis = 0, inplace=True)

In [8]:
df_test = pd.concat([df_fake_test , df_true_test], axis=0)
df_test.to_csv("C:\\Users\\user\\Desktop\\Fake news detection\\Test.csv")

In [9]:
df_merge = pd.concat([df_fake, df_true], axis=0)
df_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [10]:
df =df_merge.drop(["title","subject","date"], axis=1)
df.head(10)

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0
5  The number of cases of cops brutalizing and ki...      0
6  Donald Trump spent a good portion of his day a...      0
7  In the wake of yet another court decision that...      0
8  Many people have raised the alarm regarding th...      0
9  Just when you might have thought we d get a br...      0

In [11]:
#Shuffling the data
df = df.sample(frac=1)
df.head(10)

                                                    text  class
10145  WASHINGTON (Reuters) - American spy chiefs hav...      1
15424  MADRID (Reuters) - Catalan secessionist partie...      1
13651  SEOUL (Reuters) - North Korea fired one ballis...      1
6114   This weekend, the Libertarian Party held its a...      0
20136  The NFL was able to take a stand when it comes...      0
6871   There are times I want to just get up from my ...      0
5063   Two Muslim men were shot to death in broad day...      0
14841  BRUSSELS (Reuters) - A top European Commission...      1
7847   A male Idaho Republican with five daughters ma...      0
5516   Just before midnight on Friday, July 8, LaNayd...      0

In [12]:
# checking for the null values
df.isnull().sum()

text     0
class    0
dtype: int64

In [13]:
# Function to remove unnecessary characters
def word_drop(text):
    text = text.lower()
    text = re.sub('\[.*?\]','',text)
    text = re.sub("\\W"," ",text)
    text = re.sub('https?://\S+|www\.\S+', '',text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    return text

In [14]:
df["text"] = df["text"].apply(word_drop)

In [15]:
df.head(10)

                                                    text  class
10145  washington  reuters    american spy chiefs hav...      1
15424  madrid  reuters    catalan secessionist partie...      1
13651  seoul  reuters    north korea fired one ballis...      1
6114   this weekend  the libertarian party held its a...      0
20136  the nfl was able to take a stand when it comes...      0
6871   there are times i want to just get up from my ...      0
5063   two muslim men were shot to death in broad day...      0
14841  brussels  reuters    a top european commission...      1
7847   a male idaho republican with five daughters ma...      0
5516   just before midnight on friday  july 8  lanayd...      0

In [16]:
# Defining dependent and independent variable
x= df["text"]
y = df["class"]

In [17]:
#Splitting the dataset into train and test
x_train, x_test,y_train, y_test = train_test_split(x,y, test_size=.25)

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [19]:
#Vectorizing the data
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

###### Logisstic Regression

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
LR= LogisticRegression()
LR.fit(xv_train, y_train)

LogisticRegression()

In [22]:
LR.score(xv_test, y_test)

0.9874331550802139

In [23]:
#Classification Report
pred_LR = LR.predict(xv_test)
print(classification_report(y_test, pred_LR))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5929
           1       0.99      0.99      0.99      5291

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

###### Decision Tree Classification

In [24]:
from sklearn.tree import DecisionTreeClassifier

In [25]:
DTC = DecisionTreeClassifier()
DTC.fit(xv_train, y_train)

DecisionTreeClassifier()

In [26]:
DTC.score(xv_test, y_test)

0.995632798573975

In [27]:
#Classification Report
pred_DT = DTC.predict(xv_test)
print(classification_report(y_test, pred_DT))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5929
           1       1.00      0.99      1.00      5291

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

##### Gradient Boosting Classifier

In [28]:
from sklearn.ensemble import GradientBoostingClassifier

In [29]:
GBC = GradientBoostingClassifier()
GBC.fit(xv_train, y_train)

GradientBoostingClassifier()

In [30]:
GBC.score(xv_test,y_test)

0.9953654188948307

In [31]:
#Classification report
pred_GBC = GBC.predict(xv_test)
print(classification_report(y_test, pred_GBC))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5929
           1       0.99      1.00      1.00      5291

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

##### Random Forest Classifier

In [32]:
from sklearn.ensemble import RandomForestClassifier

In [33]:
RFC= RandomForestClassifier()
RFC.fit(xv_train,y_train)

RandomForestClassifier()

In [34]:
RFC.score(xv_test,y_test)

0.9918003565062389

In [35]:
#Classification Report
pred_RFC = RFC.predict(xv_test)
print(classification_report(y_test, pred_RFC))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5929
           1       0.99      0.99      0.99      5291

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

##### Manual Testing

In [36]:
def output_label(n):
    if n==0:
        return "Fake News"
    elif n==1:
        return "Not a Fake News"
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(word_drop)
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DTC.predict(new_xv_test)
    pred_GBC = GBC.predict(new_xv_test)
    pred_RFC = RFC.predict(new_xv_test)
    return print("\n\nLogistic Regression Prediction: {} \nDecision Tree Classifier Prediction: {} \nGradient Boost Classifier Prediction: {} \nRandom Forest Classifier Prediction: {}".format(output_label(pred_LR), output_label(pred_DT), output_label(pred_GBC), output_label(pred_RFC)))

In [37]:
news = str(input())
manual_testing(news)

Donald Trump just couldn t wish all Americans a Happy New Year and leave it at that. Instead, he had to give a shout out to his enemies, haters and  the very dishonest fake news media.  The former reality show star had just one job to do and he couldn t do it. As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year,  President Angry Pants tweeted.  2018 will be a great year for America! As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year. 2018 will be a great year for America!  Donald J. Trump (@realDonaldTrump) December 31, 2017Trump s tweet went down about as welll as you d expect.What kind of president sends a New Year s greeting like this despicable, petty, infantile gibberish? Only Trump! His lack of decency won t even allow him to rise above the gutter long enough to wish the American citizens a happy new year!  Bishop Talbert Swan (@TalbertSwan) December 31, 2017no one likes you  Calvin (@calvinstowell) December 31, 2017Your impeachment would make 2018 a great year for America, but I ll also accept regaining control of Congress.  Miranda Yaver (@mirandayaver) December 31, 2017Do you hear yourself talk? When you have to include that many people that hate you you have to wonder? Why do the they all hate me?  Alan Sandoval (@AlanSandoval13) December 31, 2017Who uses the word Haters in a New Years wish??  Marlene (@marlene399) December 31, 2017You can t just say happy new year?  Koren pollitt (@Korencarpenter) December 31, 2017Here s Trump s New Year s Eve tweet from 2016.Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don t know what to do. Love!  Donald J. Trump (@realDonaldTrump) December 31, 2016This is nothing new for Trump. He s been doing this for years.Trump has directed messages to his  enemies  and  haters  for New Year s, Easter, Thanksgiving, and the anniversary of 9/11. pic.twitter.com/4FPAe2KypA  Daniel Dale (@ddale8) December 31, 2017Trump s holiday tweets are clearly not presidential.How long did he work at Hallmark before becoming President?  Steven Goodine (@SGoodine) December 31, 2017He s always been like this . . . the only difference is that in the last few years, his filter has been breaking down.  Roy Schulze (@thbthttt) December 31, 2017Who, apart from a teenager uses the term haters?  Wendy (@WendyWhistles) December 31, 2017he s a fucking 5 year old  Who Knows (@rainyday80) December 31, 2017So, to all the people who voted for this a hole thinking he would change once he got into power, you were wrong! 70-year-old men don t change and now he s a year older.Photo by Andrew Burton/Getty Images.


Logistic Regression Prediction: Fake News
Decision Tree Classifier Prediction: Fake News
Gradient Boost Classifier Prediction: Fake News
Random Forest Classifier Prediction: Fake News